<br><font size=6><b>Books</b></font></font>

<font size=3><ul><li>Suganthan Thamotharampillai
<br><li>01.29.2023

<font size=4><b>Entity Relationship Diagram

<img src="Data/ERD.png" width="90%" align="left"/>

<font size=4><b>Imports

In [1]:
# Libraries
import pandas as pd

<br><font size=6><b>Database Admin with Python

<font size=4><b>PyMySQL and SQLAlchemy

In [4]:
# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

<font size=4><b>Connecting to SQL Server

In [5]:
# FORMATTING THE CONNECTION URL
# dialect+driver://username:password@host:port/database
username = "root"
password = "root"
database = "books"
connection = f"mysql+pymysql://{username}:{password}@localhost/{database}"

<font size=4><b>Creating the Engine

In [6]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books)

<font size=4><b>New Database Creation & Verification

In [32]:
# Database Creation & Verification
if database_exists(connection) == False:
   create_database(connection)
   if database_exists(connection) == True:
      print('Database Created!')
else:
   print('Database already exists!')

Database Created!

<font size=4><b>Adding PANDAS dataframes as tables to MySQL Database

In [39]:
# DATAFRAMES AS TABLES
# Dataframes
df_books = pd.read_csv('Data/books.csv')
df_users = pd.read_csv('Data/users.csv')
df_auths = pd.read_csv('Data/authors.csv')
df_favos = pd.read_csv('Data/favorites.csv')

# Tables
df_books.to_sql('books', engine, if_exists = 'replace')
df_users.to_sql('users', engine, if_exists = 'replace')
df_auths.to_sql('authors', engine, if_exists = 'replace')
df_favos.to_sql('favorites', engine, if_exists = 'replace')

7

<font size=4><b>Testing Database

In [9]:
# QUERYING
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [10]:
# List the titles of all of John Doe's favorite books
q = """
    SELECT concat(users.first_name, ' ', users.last_name) Name, title 'Favorite Books'
    FROM users
    JOIN favorites
    ON users.id = favorites.user_id
    JOIN books
    ON books.id = favorites.book_id
    WHERE users.first_name = 'John' AND users.last_name = 'Doe';
    """
pd.read_sql(q, engine)

       Name    Favorite Books
0  John Doe       The Shining
1  John Doe                It
2  John Doe  The Great Gatsby